<html lang="ja">
    <body>
        <h1>New Project</h1>
        <form action="/" method="POST">
            <label>
                name
                <input type="text" name="name"><br>
                email
                <input type="text" name="mail_address">
            </label><br>
            <button type="submit">送信</button>
        </form>
        <table>
            <tr>
                <th>名前</th>
                <th>email</th>
            </tr>
            <% users.forEach(function (value) { %>
                <tr>
                    <td><%= value.name %></td>
                    <td><%= value.mail_address %></td>
                </tr>
            <% }); %>
        </table>
    </body>
</html>
