<html lang="ja">
    <body>
        <div>
            <h1>XSS</h1>
            <div>
                <h2>実行手順</h2>
                <ol>
<!--                     FIXME: XSSでは利用しないためコメントアウト-->
<!--                    <li>-->
<!--                        ユーザー登録を行う。この時クッキーが付与される-->
<!--                    </li>-->
                    <li>
                        ユーザー登録のemailで、JSを実行する（JSのコードはindex.ejsのコメントにかかれている）
                        <!-- <script> window.onload=function(){ location.href="https://www.google.com }; </script>-->
                    </li>
                    <li>
                        https://www.google.com/が出れば成功となる。罠サイトに誘導（参考：<a href="http://www.ne.senshu-u.ac.jp/~proj28-19/tasa/xss/xss2.html">XSS攻撃体験サイト</a>）
                    </li>
                </ol>
            </div>
            <div>
                <h2>ユーザー登録</h2>
                <form action="/" method="POST">
                    <label>
                        name<input type="text" name="name" placeholder="yamada" required><br>
                        email<input type="text" name="email" placeholder="yamada@test.com" required><br>
                        password<input type="text" name="password" placeholder="123" required>
                    </label><br>
                    <button type="submit">送信</button>
                </form>
                <table>
                    <tr>
                        <th>name</th>
                        <th>email</th>
                        <th>password</th>
                    </tr>
                    <% users.forEach(function (user) { %>
                        <tr>
                            <!-- 【%- %】の書き方はエスケープなし -->
                            <!-- 【%= %】の書き方はエスケープあり -->
                            <td><%- user.name %></td>
                            <td><%- user.email %></td>
                            <td><%- user.password %></td>
                        </tr>
                    <% }); %>
                </table>
            </div>
            <!--                     FIXME: XSSでは利用しないためコメントアウト-->
<!--            <div>-->
<!--                <h2>ログイン</h2>-->
<!--                <form action="/login" method="POST">-->
<!--                    <label>-->
<!--                        id(email)<input type="text" name="email" required><br>-->
<!--                        password<input type="text" name="password" required>-->
<!--                    </label><br>-->
<!--                    <button type="submit">送信</button>-->
<!--                </form>-->
<!--            </div>-->
        </div>
        <div>
            <h1>CSRF</h1>
        </div>
        <div>
            <h1>SQL Injection</h1>
        </div>
    </body>
</html>
