<html lang="ja">
    <body>
        <h1>ログイン中</h1>
        <div>
            ユーザー名を変更する（現在：<%- session %>）
            <form action="/user" method="POST">
                <label>
                    name
                    <input type="text" name="name"><br>
                    <!-- FIXME: 固定値を入れている -->
                    <input type="hidden" name="id" value="1">
                </label><br>
                <button type="submit">送信</button>
            </form>
        </div>
        <div>
            <h2>Sessionの確認</h2>
            <p>session: <%- session %></p>
        </div>
        <div>
            <h2>Cookieの確認</h2>
            <p>cookie: <%- cookies %></p>
        </div>
        <div>
            ログアウトする
            <form action="/logout" method="GET">
                <button type="submit">送信</button>
            </form>
        </div>
    </body>
</html>
